URxvt.foreground:	#FFFFFF
URxvt.background:	#000000

URxvt.scrollBar:	false
URxvt.font:			xft:ndsbios:size=15

URxvt.cursorColor:		#FFFFFF
URxvt.cursorBlink:		true
URxvt.cursorUnderline:	true

URxvt*inheritPixmap:true
URxvt*transparent:	true
URxvt*shading:		50
URxvt*depth:		32
URxvt*blurRadius:	5

URxvt.urlLauncher:		chromium

URxvt.borderWidth:		0
URxvt.internalBorder:	5
URxvt.externalBorder:	0
!internalBorder is space between text and border
